// Base colors
$white = #fff
$black = #000

// Theme colors
$primary = #95c2d3
$secondary = #9ec9a4

// Text colors
$tc-1 = alpha($black, .87)
$tc-2 = alpha($black, .60)
$tc-3 = alpha($black, .38)

// Border colors
$bc-1 = alpha($black, .12)

$gray-1 = #fafafa
$gray-2 = #f5f5f5
$gray-3 = #dbdbdb
$gray-4 = #b4b5b4
$gray-5 = #797979
$gray-6 = #494949
$gray-7 = #363636
$gray-8 = #242424
$gray-9 = #121212
$gray-10 = #0a0a0a

// Shadow
$shadow = alpha(black, .1)
$shadow-1 = 0 1px 2px $shadow, 0 1px 2px $shadow
$shadow-2 = 0 2px 4px $shadow, 0 2px 4px $shadow
$shadow-3 = 0 4px 8px $shadow, 0 4px 8px $shadow
$shadow-4 = 0 6px 12px $shadow, 0 6px 12px $shadow
$shadow-5 = 0 8px 16px $shadow, 0 8px 16px $shadow
$shadow-6 = 0 10px 20px $shadow, 0 10px 20px $shadow

// Offsets
$xxs = .25rem
$xs = .5rem
$sm = .75rem
$md = 1rem
$lg = 1.25rem
$xl = 1.5rem
$xxl = 2rem

// Keylines
$keyline-xs = 3rem
$keyline-sm = 3.5rem
$keyline-md = 4rem
$keyline-lg = 4.5rem
$keyline-xl = 5rem

// Border-radius
$radius-xs = .25rem
$radius-sm = .5rem
$radius-md = .75rem
$radius-lg = 1.25rem
$radius-xl = 2rem
$radius-none = 0
$radius-ellipse = 50%
$radius-circle = 290486px

// Typography weight
$fw-thin = 100
$fw-extra-light = 200
$fw-light = 300
$fw-normal = 400
$fw-medium = 500
$fw-semi-bold = 600
$fw-bold = 700
$fw-extra-bold = 800
$fw-black = 900

// Typography size
$fs-xxs = .625rem
$fs-xs = .75rem
$fs-sm = .875rem
$fs-md = 1rem
$fs-lg = 1.125rem
$fs-xl = 1.25rem
$fs-xxl = 1.375rem
$fs-xxxl = 1.5rem

// z-index
$z-header = 500

// letter spacing
$letter-spacing = .0125rem

// Breakpoints
// https://material.io/design/layout/responsive-layout-grid.html#breakpoints
// https://gist.github.com/eyecatchup/9e847b05f15efccc1a29
$mobile-sm = '(max-width: 359px)'
$mobile-md = '(min-width: 360px) and (max-width: 399px)'
$mobile-lg = '(min-width: 400px) and (max-width: 479px)'
$mobile-xl = '(min-width: 480px) and (max-width: 599px)'
$tablet-sm = '(min-width: 600px) and (max-width: 719px)'
$tablet-md = '(min-width: 720px) and (max-width: 839px)'
$tablet-lg = '(min-width: 840px) and (max-width: 959px)'
$tablet-xl = '(min-width: 960px) and (max-width: 1023px)'
$desktop-xs = '(min-width: 1024px) and (max-width: 1279px)'
$desktop-sm = '(min-width: 1280px) and (max-width: 1439px)'
$desktop-md = '(min-width: 1440px) and (max-width: 1599px)'
$desktop-lg = '(min-width: 1600px) and (max-width: 1919px)'
$desktop-xl = '(min-width: 1920px)'
