@import 'reset'

html
  background-attachment fixed
  // background-image linear-gradient(to bottom, #f7f7f7, #f0f0f0)
  // background-color #fbfaff
  background-color alpha($primary, .05)
  // font-family 'Roboto', sans-serif
  // font-family 'Marmelad', sans-serif
  font-family 'Open Sans', sans-serif
  // font-family 'M PLUS Rounded 1c', sans-serif
  height 100vh
