*
*::before
*::after
  box-sizing border-box

html
  -webkit-font-smoothing antialiased
  -webkit-text-size-adjust 100%

blockquote
body
dd
dl
dt
fieldset
figure
h1
h2
h3
h4
h5
h6
hr
html
iframe
legend
li
ol
p
pre
textarea
ul
  margin 0
  padding 0

h1
h2
h3
h4
h5
h6
  font-size 100%
  font-weight normal

button
input
select
textarea
  appearance none
  background-color transparent
  border none
  font inherit
  font-family inherit
  margin 0
  outline none

img
embed
iframe
object
audio
video
  height auto
  max-width 100%

body
  text-size-adjust 100%
  -webkit-tap-highlight-color transparent

ul
  list-style none

hr
iframe
  border none

table
  border-collapse collapse
  border-spacing 0

td
th
  padding 0
  text-align left

a
button
  cursor pointer
  outline none

:any-link
  color inherit
  text-decoration none

::-moz-focus-inner
  border none

::-webkit-calendar-picker-indicator
::-webkit-clear-button
::-webkit-inner-spin-button
::-webkit-outer-spin-button
::-webkit-search-cancel-button
::-webkit-search-decoration
::-webkit-search-results-button
::-webkit-search-results-decoration
  appearance none
  display none
